<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
         <span>
            <img src="../assets/user.PNG" alt="">
           <b>PRAVESH, FSD0A0221 </b> </span>
            <p>Through this ProGrad Full Stack developer program, you will learn Full Stack technologies, 
                build an impressive project portfolio, and get a valuable certification. The best part - 
                a ProGrad typically secures an entry-level job with CTC in the range of INR 3-8 LPA within
                 3 months of completion of the program</p>
        </article>
        <hr>
        <article class="details">
          <span>  <img src="../assets/user.PNG" alt="">
            <b>ROBIN HOODA, FSD0B0001 </b></span>
            <p>Prograd not only helped me in utilized my knowledge to the best of my capability but also nurtured my my technical skills and competance.
            </p>
        </article>
        <hr>
      
    </div>
</div>