<div class="main">
    <div class="description">
     <h1>Hear It From Our <br> ProGrads</h1>
     
    <p>Being a ProGrad is a life-time experience. In the past,<br> we have several times tried showing the world what <br> is to be a ProGrad. But,we soon realised that no one <br> can better describe this journey than our ProGrads <br> themselves</p>
    <p><b>So here we are with a mission to let the world hear <br> it from our ProGrads!</b></p>
    <p class="hashcode">#ProudProGrads #YourDreamOurMission</p>
    </div>
    <div class="proImage">
        <img src="../../assets/imgg.PNG" alt="">
    </div>
</div>
